<div class="container">
    <div class="texto-novo-usuario">Novo usuário</div>
    <div class="texto-informe-campos">Informe os campos a seguir para criar novo usuário</div> 

      <div class="form-group">
        <form #form="ngForm" (ngSubmit)="salvarCliente(form)">
          <input type="text" class="form-control" name="name" ngModel placeholder="Nome"><br>
          
          <input type="text" class="form-control" name="tel" ngModel placeholder="Telefone"><br>

          <input type="text" class="form-control" name="email" ngModel placeholder="E-mail"><br>

          <input type="text" class="form-control" name="cpf" ngModel placeholder="CPF"><br>
    
          <select class="form-control" name="status" ngModel placeholder="Status">
            <option>Ativo</option>
            <option>Aguardando Ativação</option>
            <option>Inativo</option>
            <option>Desativado</option>
          </select><br>
          
          <div class="botoes">
              <button type="submit" class="bt-criar">Criar</button>
              <button routerLink="/listagem" class="bt-voltar">Voltar</button>
            </div>
    </form>
  </div>
  
 
  </div>
